<div id="menu">
    <nav class="navbar">
        <a href="/home"><img id="logo" src="../../../assets/images/logoHN.png" alt="Logo" width="90px" height="90px"></a>
    
        <ul class="tabs">
            
            <li class="userlist">
                <a id="user_list" href="/userlisttab" routerLink="/userlisttab" routerLinkActive="active" class="menu-item" >User List</a>
                
            </li>
            <li class="typeuserlist">
                <a id="user_type" href="/typeuserlisttab" routerLink="/typeuserlisttab" routerLinkActive="active" class="menu-item" >Type User List</a>
            </li>
           
            
        </ul>
    </nav>
</div>
