<div id="main_container">
    
    <div class="card-body" >
        <h2 class="card-title text-center text-black py-3"> {{title}}</h2>
        <ul class="text-center list-inline py-3"  >
            <li class="list-inline-item">User Id: <p class="detail">{{userDetail.id}}</p></li>
            <li class="list-inline-item">User Name: <p class="detail">{{userDetail.name}}</p></li>
            <li class="list-inline-item">User Firstname: <p class="detail">{{userDetail.firstname}}</p></li>
            <li class="list-inline-item">User Email: <p class="detail">{{userDetail.email}}</p></li>
            <li class="list-inline-item">User Type: <p class="detail">{{userDetail.usertype.type}}</p></li>
        </ul>
    </div>
   
</div>
