<div id="header">
    <h1>{{title}}</h1>
</div>

<div id="main_container">
    
    <div id="second_container">
        <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a href="/addusertype" routerlink="/addusertype" class="btn addbutton">Add User Type</a></li>
        </ul>
    </div>
    
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"*ngFor="let column of tableColumns" (click) = "sortTable(column)">{{ column }} <i class="bi bi-arrow-down-up"></i></th>

                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let type of typeusers">
                        <td>{{type.id}}</td>
                        <td>{{type.type}}</td>
                        <td>
                            <button class="btn btn-warning" id="edit-user" (click)="editUserType(type.id)">Edit</button>
                            <button class="btn btn-danger" id="delete-user" (click)="deleteUserType(type.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
